{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Classement{% endblock %}
{% block page_actions %}
{% endblock %}



{% block main %}
    <article class="content">
        <section id="main" class="content-body">
            <table class="table datagrid">
                <thead>
                <tr>
                    <th class="field-virtual header-for-field-text text-left" dir="ltr">
                        Position
                    </th>
                    <th class="field-virtual header-for-field-text text-left" dir="ltr">
                        Dossard
                    </th>

                    <th class="field-virtual header-for-field-text text-left" dir="ltr">
                        Cavalier
                    </th>

                    <th class=" field-virtual header-for-field-number text-left" dir="ltr">
                        <span>Total</span>
                    </th>
                </tr>
                </thead>

                <tbody>
                {% for item in riderNotes %}
                    <tr data-id="{{ item.rider.id }}">
                        <td data-label="rider" class="text-left" dir="ltr">
                            {{ loop.index }}
                        </td>
                        <td data-label="rider" class="text-left" dir="ltr">
                            {{ item.rider.bibNumber }}
                        </td>
                        <td data-label="bibNumber" class="text-left" dir="ltr">
                            {{ item.rider }}
                        </td>
                        <td data-label="total" class="text-left" dir="ltr">
                            {{ item.total }}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>

                <tfoot>
                </tfoot>
            </table>
        </section>

    </article>
{% endblock %}