{% extends "@email/zurb_2/notification/body.html.twig" %}

{% block content %}
    <h6>Voici vos identifiant</h6>
    <p>Email : {{ user.email }}</p>
    <p>Mot de passe : {{ password }}</p>
{% endblock %}